@media all and (max-width: 1280px) {
  .l-aside {
    width: 408px;
  }
  .l-main {
    width: calc(100% - 408px);
  }
  .l-inner {
    padding: 0 32px;
  }
}

@media (max-width: 1023px) {
  .mobile .l-aside {
    width: 100%;
  }
  .mobile,
  .mobile > div {
    overflow-x: hidden;
  }
  .mobile .l-inner {
    min-width: 320px;
    padding: 80px 20px 0;
  }
  .mobile [class*='special_version'] .l-inner {
    padding-top: 0;
  }
  .mobile .l-main {
    width: 100%;
  }
  .mobile .l-wrapper {
    margin-top: 0;
  }
  .mobile .l-mobile_hidden {
    display: none;
  }
  .mobile .l-mobile_hidden + .l-grid__item_8 {
    width: 100%;
  }
}

@media (max-width: 720px) {
  :root {
    --text-size-r: 14px;
    --text-size-x: 16px;
    --text-size-xl: 18px;
    --text-size-xxl: 22px;
    --text-size-xxxl: 26px;
  }
  .mobile .l-grid {
    --grid: 5;
  }
}
