:root {
  --color-general-custom-first: #bd2052;
  --color-general-custom-secondary: #e58461;
  --color-general-frosty-sky: #00b7ff;
  --color-general-black: #2f3137;
  --color-general-graphite: #6d7383;
  --color-general-graphite-plus: #686d79;
  --color-general-grey: #9397a1;
  --color-general-grey-plus: #bec0c7;
  --color-general-modern-grey: #c6ccd2;
  --color-general-modern-grey-plus: #d8dade;
  --color-general-light-grey: #e7eaed;
  --color-general-smoky-white: #f3f4f5;
  --color-general-ghostly-white: #f9f9fa;
  --color-general-white: #ffffff;
  --color-system-success: #61af53;
  --color-system-attention: #ffa000;
  --color-system-critical: #e75671;
  --color-system-optional: #5f8ce5;
  --color-extra-grey-window: #90a4ae;
  --color-extra-lime: #c0ca33;
  --color-extra-orange-peel: #ffa000;
  --color-extra-peach: #f47671;
  --color-extra-pink: #f06292;
  --color-extra-purple: #ba68c8;
  --color-extra-deep-purple: #9575cd;
  --color-extra-indigo: #7986cb;
  --color-extra-cyan: #26c6da;
  --color-extra-teal: #4db6ac;
  --color-extra-brown: #a1887f;
  --color-transparent-custom-32: rgba(186, 64, 117, 0.32);
  --color-transparent-custom-16: rgba(186, 64, 117, 0.16);
  --color-transparent-custom-8: rgba(186, 64, 117, 0.08);
  --color-transparent-critical-80: rgba(231, 86, 113, 0.8);
  --color-transparent-critical-72: rgba(231, 86, 113, 0.72);
  --color-transparent-optional-52: rgba(95, 140, 229, 0.52);
  --color-transparent-optional-32: rgba(95, 140, 229, 0.32);
  --color-transparent-optional-12: rgba(95, 140, 229, 0.12);
}
